@model BethanysPieShop.Models.ExoticBeberage

<h1>
    Partial View
    <hr />
    @Model.Description
    <hr />
    <img src="https://besthqwallpapers.com/Uploads/26-3-2018/45848/thumb2-fruit-cocktails-exotic-drinks-pineapple-watermelon-kiwi.jpg" />
</h1>